/* CSS Document */
#object{
	width:285px;
	position:relative;
	display:block;
	height:255
	}
.object2{
	background:-moz-linear-gradient(top, #ff9812 0%, #e17310 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9812), color-stop(100%,#e17310));
	list-style: inside none;
	width: 280px;
	position: relative;
	padding-left: 0px;
	padding:3px;
}	
.headingl{
	background:-moz-linear-gradient(top, #ff9812 0%, #e17310 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9812), color-stop(100%,#e17310));
	list-style: inside none;
	width: 280px;
	position: relative;
	padding-left: 0px;
	border-radius: 10px;
	padding:2px;
}
.headingl > a {
	outline: none;
	display: block;
	position: relative;
	font:bold 15px/100% Arial, Helvetica, sans-serif;
	text-align:center; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.4);
	color: #FFFFFF;
}
#Popular > ul >li {
	background: #ffffff;
	border:1px solid #E08E14;
	margin:5px;
	padding:3px;
}
#Popular > ul >li >a {
	outline: none;
	display: block;
	height: 30px;
	font:normal 13px/100% Arial, Helvetica, sans-serif;
	text-align:right;
	vertical-align:middle; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.4);
	color: #000000;
}
#Popular .headingl > li:hover{ 
	background:#ff9812; 
	background:-moz-linear-gradient(top, #ff9812 0%, #e17310 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9812), color-stop(100%,#e17310)); } 
#Popular> ul li: hover{
	font-size: 16px;
}
#Popular .headingl > li> img{
	position: absolute;
	float:right;
	height: 30px;
	width: 50px;
}
#Popular .headingl > li > img: hover{
	height: 50px;
	width: 50px;
}